* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}
:root {
  --color-primary: rgb(93, 70, 244);
  --color-text: rgb(49, 49, 49);
  --color-bg: rgb(199, 198, 198);
  --color-white: white;
  --color-border: lightgray;
  --color-soft: rgb(168, 168, 168);
  --color-red: red;
}
html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  overflow-x: hidden;
  background: var(--color-bg);
}
.container {
  max-width: 991px;
  width: 100%;
  margin: 0 auto;
}
h1, h2, h3, h4, h5 {
  color: var(--color-text);
  font-weight: 600;
}
p {
  color: var(--color-soft);
}
small {
  color: var(--color-soft);
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.btn {
  padding: 0.6rem 1.4rem;
  display: inline-block;
  width: fit-content;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  transition: 0.3s ease;
}
.btn:hover {
  opacity: 0.8;
}
.btn-primary {
  background-color: var(--color-primary);
  color: white;
}
.btn-red {
  background: var(--color-red);
  color: white;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
} 
.user img {
  width: 32px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: 0.3s ease;
}
.user img:hover {
  opacity: 0.8;
}
.user h4 {
  color: var(--color-primary);
}





/*----------------Nav Bar--------------*/
nav {
  height: 3.6rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  background: var(--color-white);
}
.nav-container {
  width: 96%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}
.hidden-icon {
  display: none;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}
.logo h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-primary);
}
.logo h3 span {
  color: var(--color-text);
}
.nav-search {
  border: 1px solid var(--color-text);
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-search input {
  background: transparent;
  color: var(--color-primary);
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-right button {
  background: transparent;
  font-size: 1.1rem;
  color: var(--color-primary);
}
.sun-icon {
  display: none;
}
.sun-icon:hover, .moon-icon:hover {
  transition: 0.3s ease;
}
.sun-icon:hover, .moon-icon:hover {
  transform: rotate(360deg);
}



/*-----------------Start Main----------------*/
main {
  display: grid;
  grid-template-columns: 18% 54% 25%;
  gap: 3%;
  width: 100%;
}


/*--------------Left Bar----------------*/
.left-bar {
  background: var(--color-white);
  position: sticky;
  top: 3.6rem;
  height: calc(100vh - 3.6rem);
  overflow: auto;
}
.left-bar::-webkit-scrollbar {
  display: none;
}
.left-bar-container {
  width: 80%;
  margin: 0 auto;
}

.left-bar .menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
  padding: 5px 0 5px 5px;
  transition: 0.3s ease;
}
.left-bar .menu-item img {
  width: 28px;
}
.left-bar .menu-item:hover {
  background: var(--color-bg);
  border-radius: 0.5rem;
}
hr {
  background: var(--color-border);
  height: 0.4px;
  border: transparent;
  margin-bottom: 20px;
}
.others {
  font-size: 0.9rem;
  color: var(--color-soft);
}



/*------------------Right Bar----------------*/
.right-bar {
  height: calc(100vh - 3.6rem);
  overflow: auto;
  position: sticky;
  top: 3.6rem;
}
.right-bar::-webkit-scrollbar {
  display: none;
}
.right-bar-container {
  width: 80%;
}
.messages {
  background: var(--color-white);
  margin-top: 20px;
  border-radius: 0.5rem;
  padding: 14px;
}
.messages-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.messages-top span {
  color: var(--color-text);
}
.messages-search {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--color-bg);
  padding: 0.7rem;
  gap: 5px;
  margin-bottom: 1rem;
}
.messages-search input {
  background: transparent;
  color: var(--color-text);
}